* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ---------- HEADER ---------- */
header {
    background-color: #ffffff;
    padding: 10px 30px;
    border-bottom: 1px solid #eee;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(7, 60, 20);
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links li {
    font-size: 15px;
    color: #1e3932;
    cursor: pointer;
    padding-bottom: 8px;
}
.nav-links .active {
    color: #00754a;
    border-bottom: 2px solid #00754a;
    font-weight: 600;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 15px;
    border-radius: 20px;
    background-color: #f7f7f7;
}

.search-box img {
    width: 16px;
    height: 16px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 13px;
}
.user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
/* ---------- INFO BAR (STARBUCKS STYLE) ---------- */
.info-bar {
    background-color: #052e14; /* dark teal */
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-text {
    font-size: 18px;
}

.info-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.info-btn:hover {
    background-color: white;
    color: #1e3932;
}



/* ---------- HERO SECTION ---------- */
.hero {
    height: 50vh;
    background: linear-gradient(to right, #02935e, #014d1e);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text button {
    padding: 10px 5px;
    border: none;
    background-color: white;
    color: #033714;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

/* ---------- FEATURES SECTION ---------- */
.features {
    padding: 50px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 30px;
    background-color: #f1f8f6;
    border-radius: 10px;
    font-weight: bold;
}

/* ---------- CURATIONS SECTION ---------- */
.curations {
    padding: 50px;
    background-color: #ffffff;
}

.curations h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #1e3932;
}

.curation-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.curation-item {
    width: 150px;
}

.curation-item img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.curation-item img:hover {
    transform: scale(1.05);
}

.curation-item p {
    margin-top: 10px;
    font-weight: 600;
    color: #000;
}

/* ---------- ABOUT SECTION ---------- */

.about {
    padding: 80px;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    color: rgb(75, 34, 1);
    border-radius: 24px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden; 
}
/* Main heading */
.about h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    max-width: 600px;
}

/* Sub heading */
.about h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    max-width: 600px;
}

/* Paragraph */
.about p {
    font-size: 14px;
    line-height: 1.5;
    max-width: 550px;
}
/* ---------- BARISTA RECOMMENDS ---------- */
.barista {
    background-color: #f3f1ef;
    padding: 60px 80px;
}

.barista-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.barista-header h2 {
    font-size: 28px;
    color: #1e3932;
}

.barista-header a {
    color: #00754a;
    font-weight: 600;
    text-decoration: none;
}

/* Card */
.barista-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
    width: 500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.barista-card img {
    width: 110px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

/* Card content */
.card-info {
    flex: 1;
}

.veg-dot {
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 6px;
}

.card-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.details {
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.card-bottom button {
    background-color: #00754a;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
}



/* ---------- FOOTER ---------- */
.footer {
    background-color: #0f3d2e;
    padding: 60px 40px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo img {
    width: 60px;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 12px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.9;
}

.footer-column ul li:hover {
    opacity: 1;
    text-decoration: underline;
}
/* ---------- FOOTER BOTTOM ---------- */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    gap: 40px;
}

.social-media h4 {
    margin-bottom: 15px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.app-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app-links img {
    width: 150px;
    cursor: pointer;
}

/* Divider line */
footer hr {
    margin: 40px 0 20px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* Footer last row */
.footer-last {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    opacity: 0.9;
}



/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .hero-text h2 {
        font-size: 28px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .curation-container {
        justify-content: center;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }


}

    
    
  /* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {

    /* Navbar */
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    /* Hero */
    .hero-text h2 {
        font-size: 28px;
    }

    /* Cards */
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .curation-container {
        justify-content: center;
    }

    /* About */
    .about {
        padding: 40px 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Barista */
    .barista {
        padding: 40px 20px;
    }

    .barista-card {
        width: 100%;
        flex-direction: column;
    }

    .barista-card img {
        width: 100%;
        height: 180px;
    }

    /* Footer */
    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 30px;
    }

    .footer-last {
        flex-direction: column;
        gap: 10px;
    }
}
